html{
    scroll-behavior:smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Chrome safari Opera*/
 body::-webkit-scrollbar{
     display: none;
 }

a {
    text-decoration: none;
}
/* Header */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-family: 'Lobster Two', cursive, sans-serif;
    background:#293239;
    width: 100%;
    position: fixed;
    z-index: 100;
   }

nav.scroll{
    
    opacity: 0.5;
    transition:1.0s;
}

.logo {
    color:#FFEFD5;
    letter-spacing: 3px;
    font-size: 2em; 
    }

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 25%;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bolder;
}

.nav-links a {
    color:#FFEFD5;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    padding-bottom: 3px;

}

.nav-links  :hover{
    color:#aaaaaa;
    transition: 0.5s;
   
}



.social-media {
    display: flex;
    justify-content: space-around;
    width: 8%;
    list-style: none;

}

.social-media a {
    color: #FFEFD5;
    text-decoration: none;
    font-size: 17px;
    padding: 3px;
    border-radius: 7px;
}

.social-media :hover {
    color:#293239;
    background-color: #FFEFD5;
    border-radius: 7px;
    transition: 0.5s;
}


.burger {
    display: none;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color:#FFEFD5 ;
    margin: 3px;
}

/************  MAIN  *****************/




.home-main {
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) ),url(./images/portalenbakgrundklar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}


.home-main-head {
    font-family:'Lobster Two', cursive, sans-serif;
    color: #FFEFD5;
    padding: 15% 0% 2% 8%;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
}

.home-main-text{
    font-family:'source Sans Pro', sans-serif;
    color: #FFEFD5;
    padding: 0% 60% 0% 8%;
    line-height: 30px;
    font-size: 1.3em;
}

/******************WORKSTORE******************/

.workstore-background{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.789) 50%, rgba(116, 88, 51, 0.104)), url(./images/workshop-store-low-2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
}

.workstore-main-container{
    display:flex;
    margin:auto;
    width: 50%;
    min-height: 90vh;
    /*padding:7% 50% 20% 5%;*/
    /*padding: 10% 50% 20% 5%;*/
}

.workstore-main-child{
   
    color: #FFEFD5;
text-align: center;
line-height: 1.7;
font-family: 'source Sans Pro', sans-serif;
font-size: 1.3em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
    
}
.workstore-main-child p{
    width: 80%;
}

.workstore-main-child h3{
    font-family:'Lobster Two', cursive, sans-serif;
    letter-spacing: 3px;
    font-size: 4em;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
    /*padding-bottom: 12%;*/
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
}

.workstore-office{
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "block1 block2";
    background-color:#293239;
    border-top: 2px solid #FFEFD5;
}


.block1{
    display: block;
    background-color:#293239 ;
    text-align: center;
    align-items: center;
    justify-content: center;  
    margin: auto;
    
}
.block1-item-title{
    color: #FFEFD5;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
    font-size: 3em;
    font-family:'Lobster Two', cursive, sans-serif;
    padding: 7% 0% 12% 0%;
    letter-spacing: 3px;
}

.block1-item{
    color: #FFEFD5;
    padding: 0% 20% 0% 20%;
    font-family: 'source Sans Pro', sans-serif;
    font-size: 1.3em;
    line-height: 30px;
}



.arrow {
    padding-top: 25px;
    font-size: 40px;
}
.arrow a{
    color:#FFEFD5;
    border: #293239 1px solid;
    border-radius: 20px;

}

.arrow :hover{
    color: #293239;
    border: #FFEFD5 1px solid;
    background: #FFEFD5;
    transition: 0.5s;
}
.block2{
    background-image: url(./images/workshop-overview-low-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.raw-material{
    /*min-height: 100vh;*/
    border-top: #FFEFD5 2px solid ;
    background-color: #293239;
}

.raw-material-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.raw-material-child{
    width: 850px;
    height: 600px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.56);
    /*background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(29 25 21 / 0%) 27%, rgb(0 4 12 / 72%) 75%, rgb(0 0 0 / 71%) 100%),url(./images/raw-material-low.jpg);
    background-size: cover; */
    background-image: linear-gradient(270deg, rgb(255 255 255 / 0%) 44%, rgb(0 0 0 / 57%) 63%, rgb(0 0 0 / 62%) 100%),url(./images/raw-material-low-flipped.jpg);
    background-size: cover;
    background-position: bottom right;
}

.container-materials{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding-left: 60px; /* 3/800px = 266/4 =66.5px */
    height:550px;
    padding-top: 25px;
}

.materals{
    list-style-type: none;
    color: #FFEFD5;
    font-family:'Lobster Two', cursive, sans-serif;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
    font-size: 2.5em;
    letter-spacing: 2.3px;
}
/****************PRODUKTER**********************/

.product-spec{
    background: linear-gradient(0deg, rgba(51,48,48,0) 33%, rgba(51,48,48,0.30015756302521013) 60%, rgba(29,24,24,0.3981967787114846) 90%),#293239;
    min-height: 30vh;

}
.product-header{
    color: #FFEFD5;
    font-family: 'Lobster Two', cursive, sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 10%;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
}
.product-desc{
    color:  #FFEFD5;
    text-align: center;
    padding: 5% 20% 5% 20%;
    line-height: 40px;
    font-family: 'source Sans Pro', sans-serif;
    font-size: 1.5em;
}

.gallery-parent{
    background-color: #293239;
    padding:20px 0px;
    display: flex;
}

.gallery{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns:repeat(auto-fill, 450px);
    justify-content: center;
}
.gallery img{
    /* border: solid 1px hotpink; */
    padding: 0px 30px;
    margin: 50px 0px;
    object-fit: cover;
    width: 450px; 
    height: 250px;
    

}

/**********************WORKSHOP*****************/

.workshop-main{
    background-image: linear-gradient( rgba(0, 0, 0, 0.659) 50%, rgba(62, 44, 17, 0.646) ),url(./images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 100vh;
}
strong{
font-weight: normal;
}

.workshop-main-header,
.workshop-main-content{
    text-align: center;
}

.workshop-main-header{
    font-size: 4em;
    padding: 30% 0% 5% 0%;
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 6px rgba(0,0,0,0.57);
}

.workshop-main-content{
    color:#FFEFD5;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    width: 50%;
    margin: auto;
    
}

.workshop-main-list{
    display: block;
}

.li-1,.li-2,.li-3,.li-4{
    padding-bottom:50px;
    font-size: 1.5em;
    line-height: 1.5em;
}
.li-4{
    padding-bottom: 10px;
    font-size: 1.1em;
}

.booking-btn-container{
    display: flex;
}


    .booking-btn-child{
     color:#FFEFD5 ;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 1.0em;
    margin: 0 auto;
    border: #ffefd5c7 1px solid;
    border-radius: 10px;
    padding: 10px;
    /*background-color:#293239 ; */
    margin-bottom: 5vh;
 }

 

.booking-btn-child:hover{
    color:#293239;
    background: #FFEFD5; 
    transition: 0.5s;
    
 } 
 .creditCopyText{
     position: absolute;
     bottom: -0;
    color: #ffefd55b;
    margin: 3% 0% 0% 1%;
    font-size: 0.8em;
    padding-bottom: 0.5%;
 }

 .creditCopyText a{
     color: #ffefd55b;
 }
 .creditCopyText a:hover{
     color: #ffefd5a9;
     transition: 0.5s;
 }


/****************FOOTER***************/

footer{
    background-color:#171f26fa ;
}
.footer-container{
    display:flex;
    list-style-type: none;
    align-items: center;
    padding: 15px 0px;
}
.footer-logo,
.fa-map-marker-alt,
.footer-address,
.footer-text,
.fa-facebook,
.fa-instagram{
    color: #ffefd56b;
}

.footer-logo,
.footer-address,
.footer-text{
    border-right:#ffefd56b 1px solid ;
    padding: 0px 15px;
}
.footer-logo{
    font-family: 'Lobster Two', cursive, sans-serif;
    font-size: 1.5em; 
    margin-right: 15px;
}
.footer-text{
    border-right: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bolder;
}
.footer-address{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bolder;
}

.fa-facebook,
.fa-instagram {
    padding-right: 10px;
}









/**********  RESPONSIVE****************/



@media screen and (max-width:1128px){
    .nav-links {
        width: 33%;
    }


    .workstore-main-child p{
        width: 100%;
    }

}    

@media screen and (max-width:950px){

    body{
        /*overflow-x:hidden;*/
    }
   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#293239;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
  

     .social-media {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#293239;
        display: inline-flex;
        width: 20%;
        transform: translateX(100%);
    }

    
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}
@media screen and (min-width:1100px){
    .no-webb{
        display: none;
    }
}
/*******IPAD***********/
@media screen and (max-width:1024px){

    .workstore-main-container{
        width: 85%;
    }

    .home-main {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.589) 100%, rgba(0, 0, 0, 0.589) 100%), url(./images/Produkter/IMG_20200331_205620_01.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .home-main{
        width: 100%;
        display: flex;
    }

    .home-main-head{
        padding: 0%;

    }

    .home-main-text{
        font-weight: 600;
        line-height: 1.5;
        padding: 0%;
        width: 70%;
    }

    
    ul.nav-links,
    ul.nav-links.nav-active {
        height: 30vh;
        margin-top: -20px;
    }
    .no-mobile{
        display: none;
    }

    .footer-mobile {
     min-height: 20vh;
    }
       
    .footer-container{
    display: block; float: left;
    align-items:flex-start;
    
       
    }

    .footer-logo{
        font-size: 2.5em;
        letter-spacing: 2px;
        border: none;
        margin-left: 5%;
    }
 


    .footer-address{
        font-size: 1.2em;
        margin:5% 5% 0% 5%;
        margin-bottom: 10px;
        border: none;
    
    }
    /* .social-media-mobile{
      height: 10vh;
      background: #181e22; */
   
    
    .social-media-list-mobile {
        background-color: #181e22;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

   

   

    .fa-facebook,
    .fa-instagram,
    .fa-envelope {
    color: #FFEFD5;
    font-size: 2.3em;
   
    }
    
}


@media screen and (max-width:830px) {
    .gallery-parent{
        padding: 0px;

    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery img{
        width: 100%;
        height: auto;
    }

    .product-desc{
        padding: 0px;
        width: 80%;
        margin: auto;
        margin-top: 10%;
        font-size: 1.4em;

    }

    .product-header{
        padding-top: 20%;
    }
    .workshop-main-content{
        width: 70%;
    }

}


/*************************/

@media screen and (max-width:600px){

    
    .nav-links{
        height: 30vh;
    }
    
    .logo {
        color:#FFEFD5;
        letter-spacing: 3px;
        font-size: 1.5em; 
        }


    .home-main {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.589) 100%, rgba(0, 0, 0, 0.589) 100%), url(./images/Produkter/IMG_20200331_205620_01.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
            

        }

      .home-main-head{
        font-size: 2.5em;
      }

      .home-main-text{
        font-size: 1.2em;
        width: 100%;
        padding: 0% 5%;
      }
      

/***************BUTIK***************************/


.workstore-main-container{
    display:flex;
    justify-items: center;
}

.workstore-main-child{
    height: 70%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.workstore-main-child p{
    width: 100%;
    
}

.workstore-office{
    height: 110vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "block1"
    "block2"
}
.workstore-main-child h3{
    margin-bottom: 5px;
    margin-top: 80px;
}

.raw-material{
    display: flex;
    justify-content: center;
    height: 60vh;
}

.raw-material-container{
height: auto;
}

.raw-material-child{
    display: flex;
    margin: auto;
    width: 100vw;
    height:calc(100vw * 11/16);
}
.container-materials{
    height: 100%;
    width: 30%;
    justify-content: space-evenly;
    padding: 0;
}

.materals{
   margin: auto;
   font-size: 190%;
}

.workshop-main-header{
    font-size: 3.5em;
    white-space: nowrap;
}
    

    /**********FOOTER*************/

    .no-mobile{
        display: none;
    }

    .footer-mobile {
     min-height: 20vh;
    }
       
    .footer-container{
    display: block; float: left;
    align-items:flex-start;
    
       
    }

    .footer-logo{
        font-size: 2.5em;
        letter-spacing: 2px;
        border: none;
        margin-left: 5%;
    }
 


    .footer-address{
        font-size: 1.2em;
        margin:5% 5% 0% 5%;
        margin-bottom: 10px;
        border: none;
    
    }
    /* .social-media-mobile{
      height: 10vh;
      background: #181e22; */
   
    
    .social-media-list-mobile {
        background-color: #181e22;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

   

   

    .fa-facebook,
    .fa-instagram,
    .fa-envelope {
    color: #FFEFD5;
    font-size: 2.3em;
   
    }
    
}

/************FOR MOBILE*******************/

@media screen and (max-width:420px) {


    .home-main-head{
        font-size: 2em;
        padding-top: 85px;
        text-align: center;
    }


    
    .workstore-main-container{
        display: flex;
        justify-content: center;
        height: 800px;
        
    }
    
    .workstore-main-child{
        height: 70vh;
        display: flex;
    }

    .workstore-main-child p{
        height: 100%;
        width: inherit;
        font-size: 73%;
        font-weight: bolder;
    }


    .workstore-office { 
        grid-template-columns: repeat(1, 1fr);
    }

    .raw-material{
     height: 66vh;
    }

    .raw-material-container{
        height: 40vh;
        margin: auto;
    }


/*******WORKSHOP********/

.workshop-main-header{
    padding: 30% 0%;
    font-size: 40px;
}

.workshop-main-content{
    padding: 5%;
    font-size: 12px;
}





}

@media screen and (max-width:340px) {

    .workstore-background{
        height: 170vh;
    }

    .workstore-main-child h3{
        margin-top: 5px;
    }

}